<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% for(i=0; i < audios.length; i++) { %>
        <!-- <% console.log(audios[i].audioFile.substr(15)) %> -->
        <% let s = audios[i].audioFile.substr(15) %>
        <a href="./assets/uploads/<%= s %>"><%= s %></a>
    <% } %>
</body>
</html>